*.dylib filter=lfs diff=lfs merge=lfs -text
*.lld filter=lfs diff=lfs merge=lfs -text
*./lld filter=lfs diff=lfs merge=lfs -text
CMPM170[[:space:]]Jam[[:space:]]2/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/* filter=lfs diff=lfs merge=lfs -text
CMPM170[[:space:]]Jam[[:space:]]2/Library/PackageCache/com.unity.burst@1.7.4/.Runtime/**/* filter=lfs diff=lfs merge=lfs -text
